<h3>$i18n.getString( "jphes_hierarchy" )&nbsp; #openHelp( "jphes_hierarchy" )</h3>

<ul class="introList">
    #introListImgItem( "allNationalUnit.action" "jphes_national" "jphes_level" )
    #introListImgItem( "allPartner.action" "jphes_donor" "jphes_level" )
    #introListImgItem( "allPartner.action" "jphes_agency" "jphes_level" )
    #introListImgItem( "allPartner.action" "jphes_mechanism" "jphes_level" )
</ul>