<h2>$i18n.getString( "jphes_hierarchy" )&nbsp;</h2>
<ul>
  <li><a href="allNationalUnit.action">$i18n.getString( "jphes_national" )&nbsp;</a></li>
  <li><a href="allDonorUnit.action">$i18n.getString( "jphes_donor" )&nbsp;</a></li>
  <li><a href="allAgencyUnit.action">$i18n.getString( "jphes_agency" )&nbsp;</a></li>
  <li><a href="allMechanismUnit.action">$i18n.getString( "jphes_mechanism" )&nbsp;</a></li>
</ul>
