<h3>Add Program</h3>

<form id="addProgramForm" name="addProgramForm" action="addProgram.action" method="post" class="inputForm">
  <table>
    <col style="width: 120px"/>
    <col style="width: 500px;"/>
    <col/>
    <col style="width: 500px;"/>

    <tr>
      <th colspan="2">$i18n.getString( "details" )</th>
      <td colspan="2"></td>
    </tr>

    <tr>
      <td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
      <td colspan="3"><input type="text" id="name" name="name"></td>
    </tr>

    <tr>
      <td><label for="code">$i18n.getString( "code" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
      <td colspan="3"><input type="text" id="code" name="code"></td>
    </tr>

    <tr>
      <td><label for="formName">Form Name</label></td>
      <td colspan="3"><input type="text" id="formName" name="formName"></td>
    </tr>

    <tr>
      <td></td>
      <td valign="top">
        <input type="submit" value="$i18n.getString( 'add' )" style="width:10em"/>
        <input type="button" value="$i18n.getString( 'cancel' )" onclick="dhis2.commons.redirectCurrentPage( 'allProgram.action' )" style="width:10em"/>
      </td>
    </tr>
  </table>
</form>
