
#sharingDialog()

<script type="text/javascript" src="javascript/allProgram.js"></script>
<script type="text/javascript">
  var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_program" ) , "'")';
  var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ) , "'")';
</script>

<h3>Program #openHelp( "jphes_program" )</h3>

<div id="contextMenu" class="contextMenu">
  <ul id="contextMenuItems" class="contextMenuItems">
    <li data-enabled="canUpdate"><a data-target-fn=""><i class="fa fa-edit"></i>&nbsp;&nbsp;$i18n.getString( "edit" )</a></li>
    <li data-enabled="canDelete"><a data-target-fn=""><i class="fa fa-trash-o"></i>&nbsp;&nbsp;$i18n.getString( "remove" )</a></li>
    <li><a data-target-fn=""><i class="fa fa-info-circle"></i>&nbsp;&nbsp;$i18n.getString( "show_details" )</a></li>
  </ul>
</div>

<table style="width:100%">
  <tr>
    <td style="vertical-align:top">
      <table width="100%">
        <tr>
          <td>#filterDiv( "allProgram" )</td>
          <td colspan="4" style="text-align:right"><input type="button" value="$i18n.getString( 'add_new' )" onclick="window.location.href='showAddProgramForm.action'"/></td>
        </tr>
      </table>
      <table class="listTable" id="listTable">
        <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Created</th>
          <th>Last Updated</th>
        </tr>
        </thead>
        <tbody id="list">
          #foreach( $program in $programs )
          <tr id="tr${program.id}" data-id="$!program.id" data-uid="$!program.uid" data-type="Program" data-name="$encoder.htmlEncode( $!program.formName )"
              data-can-manage="$security.canManage( $program )"
              data-can-update="$security.canUpdate( $program )"
              data-can-delete="$security.canDelete( $program )">
            <td>$!encoder.htmlEncode( $program.name )</td>
            <td>$!encoder.htmlEncode( $program.code )</td>
            <td>$!encoder.htmlEncode( $program.created )</td>
            <td>$!encoder.htmlEncode( $program.lastUpdated )</td>
          </tr>
          #end
        </tbody>
      </table>
      <p></p>
      <div class="paging-container">
        #parse( "/dhis-web-commons/paging/paging.vm" )
      </div>

    </td>
    <td id="detailsData">
      <div id="detailsArea">
        <div id="hideDetailsArea">
          <a href="javascript:hideDetails()" title="$i18n.getString( 'hide_details' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_details' )"/></a>
        </div>
        <p><label>$i18n.getString( "name" ):</label><br/><span id="nameField"></span></p>
        <p><label>$i18n.getString( "code" ):</label><br/><span id="codeField"></span></p>
        <p><label>Created:</label><br/><span id="createdField"></span></p>
        <p><label>LastUpdated:</label><br/><span id="lastUpdatedField"></span></p>
        <p><label>$i18n.getString( "id" ):</label><br/><span id="idField"></span></p>
      </div>

      <div id="warningArea">
        <div id="hideDetailsArea">
          <a href="javascript:hideWarning()" title="$i18n.getString( 'hide_warning' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_warning' )"/></a>
        </div>
        <p><span id="warningField"></span></p>
      </div>

    </td>
  </tr>
</table>
