<script type="text/javascript">
    jQuery(function () {

        /* remote validation */
//        checkValueIsExist( "name", "validateProgram.action", {
//            id : getFieldValue( 'id' )
//        } );
//
//        checkValueIsExist( "displayName", "validateProgram.action", {
//            id : getFieldValue( 'id' )
//        } );
//
//        checkValueIsExist( "code", "validateProgram.action", {
//            id : getFieldValue( 'id' )
//        } );

        sortList( 'deAvailable', 'ASC' );
        sortList( 'iAvailable', 'ASC' );

        jQuery("#deAvailable").dhisAjaxSelect({
            source: "../api/dataElements.json?paging=false&fields=displayName,id,name",
            iterator: 'dataElements',
            connectedTo: 'deSelectedList',
            handler: function( item ) {
                var option = jQuery("<option />");
                option.text(item.name);
                option.attr("value", item.id);

                return option;
            }
        });

        jQuery("#iAvailable").dhisAjaxSelect({
            source: "../api/indicators.json?paging=false&fields=displayName,id,name",
            iterator: 'indicators',
            connectedTo: 'indSelectedList',
            handler: function( item ) {
                var option = jQuery("<option />");
                option.text(item.name);
                option.attr("value", item.id);

                return option;
            }
        });
    });
</script>
<h3>Add Program</h3>

<form id="updateProgramForm" name="updateProgramForm" action="updateProgram.action" method="post" class="inputForm">
    <table>
        <col style="width: 120px"/>
        <col style="width: 500px;"/>
        <col/>
        <col style="width: 500px;"/>

        <tr>
            <th colspan="2">$i18n.getString( "details" )</th>
            <td colspan="2"></td>
        </tr>
        <div><input type="hidden" id="id" name="id" value="$program.id"/></div>

        <tr>
            <td style="width:200px"><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
            <td><input type="text" id="name" name="name" value="$!encoder.htmlEncode( $program.name )"></td>
            <td></td>
        </tr>

        <tr>
            <td style="width:200px"><label for="code">$i18n.getString( "code" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
            <td><input type="text" id="code" name="code" value="$!encoder.htmlEncode( $program.code )"></td>
            <td></td>
        </tr>

        <tr>
            <td style="width:200px"><label for="displayName">Display Name</label></td>
            <td ><input type="text" id="displayName" name="displayName" value="$!encoder.htmlEncode( $program.displayName )"></td>
            <td></td>
        </tr>
        <tr>
            <td><label>Dataelements</label></td>
            <td>
                <select id="deAvailable" name="deAvailable" multiple="multiple" style="height: 200px; width: 100%;"></select>
            </td>

            <td style="text-align:center">
                <input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'deAvailable' );"/><br/>
                <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'deSelected' );"/><br/>
                <input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'deAvailable' );"/><br/>
                <input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'deSelected' );"/>
            </td>

            <td>
                <select id="deSelectedList" name="deSelectedList" multiple="multiple" style="height: 200px; width: 100%; margin-top: 22px;">
                    #foreach ( $deSelected in $dataElements )
                        <option value="$deSelected.uid">$encoder.htmlEncode( $deSelected.name )</option>
                    #end
                </select>
            </td>
        </tr>

        <tr>
            <td><label>$i18n.getString( "indicators" )</label></td>
            <td>
                <select id="iAvailable" name="iAvailable" multiple="multiple" style="height: 200px; width: 100%;"></select>
            </td>

            <td style="text-align:center">
                <input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'iAvailable' );"/><br/>
                <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'iSelected' );"/><br/>
                <input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'iAvailable' );"/><br/>
                <input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'iSelected' );"/>
            </td>

            <td>
                <select id="indSelectedList" name="indSelectedList" multiple="multiple" style="height: 200px; width: 100%; margin-top: 22px;">
                #foreach ( $indSelected in $indicators )
                    <option value="$indSelected.uid">$encoder.htmlEncode( $indSelected.name )</option>
                #end
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td valign="top">
                <input type="submit" value="$i18n.getString( 'add' )" style="width:10em"/>
                <input type="button" value="$i18n.getString( 'cancel' )" onclick="dhis2.commons.redirectCurrentPage( 'allProgram.action' )" style="width:10em"/>
            </td>
        </tr>
    </table>
</form>
