{ "nationalUnit":
{
"id": "$!{nationalUnit.id}",
"name": "$!encoder.jsonEncode( ${nationalUnit.name} )",
"code": "$!encoder.jsonEncode( ${nationalUnit.code} )",
"uid": "$!{nationalUnit.uid}",
"programs": "$!{nationalUnit.programs.size()}"
}
}