
#sharingDialog()

<script type="text/javascript" src="res/javascript/donor/allDonorUnit.js"></script>
<script type="text/javascript">
  var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_donor_unit" ) , "'")';
  var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ) , "'")';
</script>

<h3>$i18n.getString( 'jphes_donor' ) #openHelp( "jphes_hierarchy" )</h3>

<div id="contextMenu" class="contextMenu">
  <ul id="contextMenuItems" class="contextMenuItems">
      <li data-enabled="canManage"><a data-target-fn="showSharingDialogWithContext"><i class="fa fa-share"></i>&nbsp;&nbsp;$i18n.getString( "sharing_settings" )</a></li>
    <li data-enabled="canUpdate"><a data-target-fn="showAddAgencyUnitForm"><i class="fa fa-plus"></i>&nbsp;&nbsp;$i18n.getString( "add_agency" )</a></li>
    <li data-enabled="canUpdate"><a data-target-fn="showUpdateDonorUnitForm"><i class="fa fa-edit"></i>&nbsp;&nbsp;$i18n.getString( "edit" )</a></li>
    <li data-enabled="canDelete"><a data-target-fn="removeDonorUnit"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;$i18n.getString( "remove" )</a></li>
    <li><a data-target-fn="showDonorUnitDetails"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;$i18n.getString( "show_details" )</a></li>
  </ul>
</div>

<table style="width:100%">
  <tr>
    <td style="vertical-align:top">
      <table width="100%">
        <tr>
          <td>#filterDiv( "allDonorUnit" )</td>
        </tr>
      </table>
      <table class="listTable" id="listTable">
        <thead>
        <tr>
          <th>$i18n.getString( "jphes_name")</th>
          <th>$i18n.getString( "jphes_shortname")</th>
          <th>$i18n.getString( "jphes_code")</th>
          <th>$i18n.getString( "jphes_national")</th>
          <th>$i18n.getString( "jphes_lastupdated")</th>
        </tr>
        </thead>
        <tbody id="list">
            #foreach( $donorUnit in $donorUnits )
            <tr id="tr${donorUnit.id}" data-id="$!donorUnit.id" data-uid="$!donorUnit.uid" data-type="DonorUnit" data-name="$encoder.htmlEncode( $!donorUnit.name )"
                data-can-manage="$security.canManage( $donorUnit )"
                data-can-update="$security.canUpdate( $donorUnit )"
                data-can-delete="$security.canDelete( $donorUnit )">
              <td>$!encoder.htmlEncode( $donorUnit.name )</td>
              <td>$!encoder.htmlEncode( $donorUnit.shortName )</td>
              <td>$!encoder.htmlEncode( $donorUnit.code )</td>
              <td>$!encoder.htmlEncode( $donorUnit.nationalUnit.name )</td>
              <td>$!format.formatDate( $donorUnit.lastUpdated )</td>
            </tr>
            #end
        </tbody>
      </table>
      <p></p>
      <div class="paging-container">
          #parse( "/dhis-web-commons/paging/paging.vm" )
      </div>

    </td>
    <td id="detailsData">
      <div id="detailsArea">
        <div id="hideDetailsArea">
          <a href="javascript:hideDetails()" title="$i18n.getString( 'hide_details' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_details' )"/></a>
        </div>
        <p><label>$i18n.getString( "jphes_name" ):</label><br/><span id="nameField"></span></p>
        <p><label>$i18n.getString( "jphes_code" ):</label><br/><span id="codeField"></span></p>
        <p><label>$i18n.getString( "jphes_number_of_programs" ):</label><br/><span id="programsField"></span></p>
        <p><label>$i18n.getString( "jphes_number_of_agencies" ):</label><br/><span id="agencyUnitField"></span></p>
        <p><label>$i18n.getString( "id" ):</label><br/><span id="idField"></span></p>
        <p><label>$i18n.getString( "jphes_usergroup" ):</label><br/><span id="userGroupField"></span></p>
        <p><label>$i18n.getString( "jphes_categoryoptiongroup" ):</label><br/><span id="categoryOptionGroupField"></span></p>
        <p><label>$i18n.getString( "jphes_national" ):</label><br/><span id="nationalUnitField"></span></p>
        <p><label>$i18n.getString( "jphes_href" ):</label><br/><span id="hrefField"></span></p>
      </div>

      <div id="warningArea">
        <div id="hideDetailsArea">
          <a href="javascript:hideWarning()" title="$i18n.getString( 'hide_warning' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_warning' )"/></a>
        </div>
        <p><span id="warningField"></span></p>
      </div>

    </td>
  </tr>
</table>
