{ "mechanismUnit":
{
"id": "$!{mechanismUnit.id}",
"name": "$!encoder.jsonEncode( ${mechanismUnit.name} )",
"partner": "$!encoder.jsonEncode( ${mechanismUnit.partner} )",
"code": "$!encoder.jsonEncode( ${mechanismUnit.code} )",
"uid": "$!{mechanismUnit.uid}",
"programs": "$!{mechanismUnit.programs.size()}",
"orgunits": "$!{mechanismUnit.categoryOption.organisationUnits.size()}",
"usergroup": "$!{mechanismUnit.userGroup.name}",
"categoryoption": "$!{mechanismUnit.categoryOption.name}",
"agency": "$!{mechanismUnit.agencyUnit.name}",
"href": "$!{mechanismUnit.href}",
"startdate": "$!format.formatDate( ${mechanismUnit.categoryOption.startDate} )",
"enddate": "$!format.formatDate( ${mechanismUnit.categoryOption.endDate} )",
"created": "$!format.formatDate( ${mechanismUnit.created} )"
}
}